<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <title>Examen Diaz Y El Hage</title>
</head>
<body>
   <p> 
      <ol>
         <li>GET Endpoint que enumere los pedidos de la lista y la imprima en consola.</li>
          <li>POST Endpoint que añada el pedido a la lista y la imprima en consola.</li>
         <li>PUT que actualice el pedido (puede reemplazar el elemento un mediante el indice) y la imprima en consola</li>
         <li>DELETE que remueva el pedido de la lista mediante el indice y la imprima en consola.</li>
        </p>  
      </ol>
     </p> 
</body>
</html>