<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentación del Controlador REST</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 20px;
            background-color: #f0f0f0;
        }

        h1, h2, p, pre {
            color: #333;
        }

        pre {
            background-color: #f8f8f8;
            padding: 10px;
            border: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <h1>Documentación </h1>

    <h2>My Rest Controller</h2>
    <pre>
        <code>
            .@GetMapping("/all")// desplega en la pantalla los usuarios
            public List<Usuario> all() {
                return databaseService.getAllUsuarios();
            }
            
        </code>
    </pre>

    <p>Este método lo que hace es desplegar los datos requeridos que se soliciten</p>

    <pre>
        <code>
            .@PutMapping("/id")
            public void update(String nombre, String descripcion, int id) {
              // Crear un nuevo objeto Usuario con los valores proporcionados
                Usuario Usuario = new Usuario(0, nombre, descripcion, descripcion, descripcion, descripcion, descripcion);
                 // Llamar al servicio de base de datos para actualizar el usuario
                databaseService.updateUsuario(Usuario) ;
            }
        
            
        </code>
    </pre>

    <p>Este método se encarga de actualizar un usuario en la base de datos. Crea un nuevo objeto Usuario con los valores proporcionados y luego llama a un servicio de base de datos para realizar la operación de actualización. </p>
    <pre>
        <code>
            .@PostMapping()
            public void insert(String nombre, String descripcion) {
                // Crear un nuevo objeto Usuario con los valores proporcionados
                Usuario Usuario = new Usuario(0, nombre, descripcion, descripcion, descripcion, descripcion, descripcion);
                 // Llamar al servicio de base de datos para actualizar el usuario
                databaseService.insertUsuario(Usuario) ;
            }
        
            
        </code>
    </pre>
    <p>Lo que se hace en este método es se insertan los datos en la base de datos del usuario creado anteriormente.</p>
    <pre>
        <code>
            @DeleteMapping("/id")
            public void delete(int id) {
                 // Llamar al servicio de base de datos para eliminar el usuario por ID
                databaseService.deleteUsuario(id) ;
            }
        
            
        </code>
    </pre>

    <p>Lo este método es borrar los datos del usuario  de la base de datos.</p>

   

    <h2>Data Base Service:</h2>
    <pre>
        <code>
            public List<Usuario> getAllUsuarios()
        </code>
    </pre>

    <p>Este método utiliza un jdbc Template para ejecutar una consulta SQL y obtener los resultados como una lista de mapas, donde cada mapa representa una fila de la tabla con nombres de columnas y valores asociados. 
         <pre>
        <code>
            public Usuario getUsuario(int id)
        </code>
    </pre>

    <p>En este método ese utiliza para llamar los métodos del usuario para que así se puedan ver en la pantalla.
         <pre>
        <code>
            public void updateUsuario(Usuario Usuario) 
        </code>
    </pre>

    <p>Actualiza los datos en la base de datos
        <pre>
        <code>
            public void insertUsuario(Usuario Usuario)
        </code>
    </pre>

    <p>Consulta a el usuario si ya está registrado, por lo tanto, el usuario puede registrarse y estar en la memoria de forma segura.
        <pre>
        <code>
            public int deleteUsuario(int id)

        </code>
    </pre>
    <p>En esta función lo que hace es borrar el usuario de la aplicación y también, de la base de datos.</p>

        

    <h2>Usuario</h2>
    <pre>
        <code>
            private int idusuario;
    private String Nombre;
    private String Apellido;
    private String Email;
    private String Descripcion;
    private String prioridad;
    private String fechadevencimiento;
        </code>
    </pre>
    <p>Son los atributos del código que se usan para instanciar los métodos, para que así funcione el código.
        <pre>
        <code>
            public Usuario(int idusuario, String nombre, String apellido, String email, String descripcion, String prioridad,
            String fechadevencimiento) 

        </code>
    </pre>
    <p>Este es el constructor lleno de los atributos que se necesitaran.          
        <pre>
        <code>
            public int deleteUsuario(int id)

        </code>
    </pre>
    <p>En esta función lo que hace es borrar el usuario de la aplicación y también, de la base de datos.</p>
    <pre>
        <code>
            public String toString() 

        </code>
    </pre>
    <p>Retorna el texto a de la base de datos donde es guardad.
         <pre>
        <code>
            public int hashCode()

        </code>
    </pre>
    <p>Es para verificar el número de usuario y la identificación del usuario.
         <pre>
        <code>
            public boolean equals(Object obj) 

        </code>
    </pre>
    <p>Se identifican los artículos nulos y Comparar cada atributo individualmente.</p>

</body>
</html>