<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Backend.Properties.Settings.prograWebConnectionString" connectionString="Data Source=;Initial Catalog=prograWeb;User ID=;Password=;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
